<div class="big__card__container">

  <div class="big-card__photo">
    <img
      src="https://static.escolakids.uol.com.br/2023/01/grafico-colunas.jpg"
      alt=""
      height="267"
      srcset=""
    >
  </div>

  <div class="big-card__title">
  <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>


  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elementum felis. In est massa, commodo nec justo vel, aliquet finibus ligula. Phasellus ornare, purus vitae bibendum faucibus, leo nulla accumsan nulla, non blandit dui nulla et turpis. Nulla ut leo eleifend, aliquet arcu vitae, dignissim turpis. Nullam eros dui, volutpat nec diam eu, congue pulvinar lorem. Pellentesque justo leo, commodo sit amet pulvinar sit amet, imperdiet et est.
    </p>

  </div>
</div>
